<!DOCTYPE html>

<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- Import App -->
  <script src="./main.js"></script>
  <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>

  <h1>Product goes here</h1>
  <div id="app">


    <!-- VUE "BASE" -->


    <h1>{{ product }}</h1> <!-- appelle la variable "product" de l'app  -->
    <!-- product est une valeur dynamique, si elle change dans le main.js, elle change sa valeur ici aussi -->
    <ul>
      <li><a :href="url">École</a></li> <!-- Ex à vous de coder --> <!-- v-bind:href est nécessaire pour que le lien de la balise "a" fonctionne dans les normes -->
      <li><a v-bind:href="url">École toujours</a></li> <!-- :href fonctionne dans le même sens que v-bind:href mais sous une forme raccourci -->
    </ul>
    <p>{{ description }}</p> <!-- Ex à vous de coder --> <!-- appelle la variable "description" de l'app  -->
<br><br><br><br><br> <!-- juste pour faire un petit espace entre chaque partie -->

    <!-- CONDITIONS -->

     <p v-if="inventory > 10">En stock</p> <!-- v-if fonctionne comme une fonction if en c#, elle sert à faire la conditionnel "si" -->
     <p v-else-if="inventory <= 10 && inventory > 0">Il en reste {{ inventory }}</p> <!-- v-else-if fonctionne comme une fonction else if en c#, elle sert à faire la conditionnel "sinon si" -->
     <p v-else>Hors stock</p> <!-- v-else fonctionne comme une fonction else en c#, elle sert à faire la conditionnel "sinon" -->

     <p v-show="onSale">On Sale</p> <!-- Ex à vous de coder --> <!-- v-show fonctionne comme le v-if mais permet d'afficher si = true ou de ne pas afficher si = false le message -->
    

    <!-- LISTES & TABLEAUX -->

    <ul>
      <li v-for="detail in details">{{ detail }}</li> <!-- le v-for fonctionne comme un foreach en c#, il sert à répéter une liste jusqu'à sa fin -->
    </ul>
    <ul>
      <li v-for="size in sizes">{{ size }}</li> <!-- Ex à vous de coder -->
    </ul>
  

    <div v-for="variant in variants" v-bind:key="variant.id"> {{ variant.color }}</div> <!-- le v-for fonctionne aussi avec un tableau mais utilise "v-bind:key" pour appeller un des éléments du tableau -->
    

    <!-- GESTION DES ÉVÉNEMENTS -->

    <div class="cart">Panier({{ cart }})</div>
    
    <button class="button" v-on:click="addToCart">Add to Cart</button> <!-- v-on:click sert à effectuer une opération (directe(cart+=1) ou indirecte avec une méthode(addToCart)) -->
    <button class="button" @click="addToCart">Add to Cart</button> <!-- @click est un raccourci de v-on:click -->

    <!-- AFFICHAGE IMAGE -->

    <div class="product-image">
      <!-- emplacement des images -->
      <img v-bind:src="imageB"> <!-- v-bind:src est utilisé pour l'affichage des images -->
      <img :src="imageG"> <!-- :src est aussi utilisé pour l'affichage des images -->
      
    </div>
    
  </div>

</body>

<script>
  // Montage de notre application
  const mountedApp = app.mount('#app') // app = application créé sur main.js et .mount() = méthode
</script>

</html>